<% if @items.present? %>
  <% @items.each do |item| %>
    <div class="list">
    <%# if item.image_flag %>
      <%#= link_to (image_tag(item.image_flag, style: "width: 70px;height: 100px;display: inline-block;")), item.url %>
      <%#end%>
      <img src="<%= item['smallImageUrls'][0] %>">
      <a href="<%= item.url %>"><%= item.name %></a>
    </div>
  <% end %>
<% end %>