<% if @items.present? %>
  <% @items.each do |item| %>
    <div class="list">
    <%# if item.image_flag %>
      <%#= link_to (image_tag(item.image_flag, style: "width: 70px;height: 100px;display: inline-block;")), item.url %>
      <%#end%>
      <table>
        <tr>
          <td><a href="<%= item.url %>"><img src="<%= item['mediumImageUrls'][0] %>"></a></td>
          <td><a href="<%= item.url %>"><%= item.name %></a></td>
        </tr>
      </table>
    </div>
  <% end %>
<% end %>